/* HELPERS */

//layout helpers
.main {
    display: grid;
    grid-template-columns: 2rem 2fr 1fr 2rem;
    > * {
        &.full {
            grid-column: 1/-1;
        }
    }
}

.screen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    cursor: default;
}

.dark-screen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
    transition: 0.3s;
    cursor: default;
    background-color: rgba(56, 56, 56, 0.685);
    &:hover {
        background-color: transparent;
    }
}

.dark-screen-no-hover {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(56, 56, 56, 0.685);
    top: 0;
    left: 0;
    z-index: 1;
    transition: 0.3s;
    cursor: default;
}

// Media helpers
.square-ratio {
    @include aspect-ratio(1, 1);
}

.video-ratio {
    @include aspect-ratio(16, 9);
}

.portrait-ratio {
    @include aspect-ratio(9, 16);
}

// grid-helpers
.grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, 50px);
    grid-template-rows: repeat(auto-fill, 50px);
    grid-auto-flow: dense;
}

// position-helpers
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

// flex-helpers
.flex {
    display: flex;

    > *.full {
        flex: 1;
    }

    &.col {
        flex-direction: column;
    }

    &.align-center {
        align-items: center;
    }

    &.align-start {
        align-items: flex-start;
    }

    &.align-end {
        align-items: flex-end;
    }

    &.space-between {
        justify-content: space-between;
    }

    &.space-around {
        justify-content: space-around;
    }

    &.center {
        justify-content: center;
    }

    &.end {
        justify-content: flex-end;
    }

    &.start {
        justify-content: flex-start;
    }

    &.wrap {
        flex-wrap: wrap;
    }
}

// list-helpers
.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

// editable content
.editable {
    border: 1px dashed transparent;
    padding: 3px 7px 3px 0;
    &:hover {
        border-color: rgb(172, 169, 169);
    }
    &:focus {
        outline: none;
        border-color: rgb(46, 45, 45);
    }
}

// pretty input
.input {
    border: none;
    border-bottom: #4c4c4c96 1px solid;
    transition: 0.3s;
    &:hover,
    &:focus {
        border-bottom: #363636 1px solid;
    }
    &:focus {
        outline: none;
    }
}

// text overflow
.text-no-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.head {
    justify-self: center;
    position: relative;
    font-family: "Quicksand-light";
    font-size: 2rem;
    line-height: 3rem;
    width: fit-content;
    transform: translate(0, -1rem);
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.2rem;
        border-radius: 100vw;
        background: $clr1;
        background: linear-gradient(90deg, $clr1 0%, $clr2 100%);
    }

    &.mini {
        font-size: 1.5rem;
    }
}
