//Ubuntu
@font-face {
    font-family: "Quicksand";
    src: url("../../fonts/Quicksand/Quicksand-Regular.ttf");
}

@font-face {
    font-family: "Quicksand-light";
    src: url("../../fonts/Quicksand/Quicksand-Light.ttf");
}

@font-face {
    font-family: "Quicksand-medium";
    src: url("../../fonts/Quicksand/Quicksand-Medium.ttf");
}

@font-face {
    font-family: "Quicksand-bold";
    src: url("../../fonts/Quicksand/Quicksand-Bold.ttf");
}
