// Colors
$clr1: #30f6e9;
$clr2: #4ecbf6;
$clr3: #40b4d8;
$bgcClr: #f7f5f9;
$pClr: #414141;
$h1Clr: #55c3ff;
$borderClr: #c4cfde;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
